<!--
<p id="notice"><%= notice %></p>
-->

<p>
  <strong>Produto:</strong>
  <%= @item.produto %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @item.quantidade %>
</p>
<p>
  <strong>Importante:</strong>
  <%= @item.importante %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
